h1 {
  font-family: 'Cinzel', sans-serif;
  font-size: 36px;
  color: darkred;
}
h4 {

font-family: 'Cinzel', sans-serif;
  margin-bottom: 0;
  font-size: 24px;
}
ul, ol {
  margin-top: 0;
}

.copyright {
  font-family:times new roman;
  font-size: 9px;
  font-style: italic;
}

#ingredients {color: darkred; }

#equipment {color: darkred; }

#directions {color: darkred; }

.makeblue {color: darkblue; }
.makeblack {color: black}