h1 {
  font-family: times new roman;
  font-size: 36px;
  color: red;
}
h4 {

font-family: 'Cinzel', sans-serifserif;
  margin-bottom: 0;
  font-size: 24px;
}

ul, ol {
  margin-top: 0;
}

.copyright {
  font-family: helvetica neue;
  font-size: 9px;
  font-style: italic;
}

#ingredients {color: orange; }

#equipment {color: #FFDB58; }

#directions {color: green; }

.makeblue {color: blue; }